<% layout("/layouts/boilerplate") %>

<style>
     .filters{
       display: flex;
       flex-wrap: wrap;
       margin: 2rem 0 0 0.5rem;
       align-items: center;
       

     }
     .filters a{
        text-decoration:none ;
     }
     .ind-filter{
      text-align: center;
      margin-right: 3rem;
      font-size: 1rem;
      color: black;
      opacity: 0.7;
     }
     .ind-filter:hover{
      /* opacity: 1; */
      cursor: pointer;
      opacity: 1;
     }
     .tog-tax{
        align-items: center;
        border: 0.1rem solid rgba(0, 0, 0, 0.185);
        border-radius: 0.7rem;
        padding: 0.5rem 1rem 0.5rem 1rem !important;
     }

     .tax-info{
        visibility: hidden;
     }
</style>

<!-- filter -->
<body>
    <div class="filters">
      <a href="/listings/trending">
        <div class="ind-filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
      </a>
      <a href="/listings/rooms">
      <div class="ind-filter">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
      </div>
      </a>
      <a href="/listings/mountains">
      <div class="ind-filter">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Mountains</p>
      </div>
      </a>
      <a href="/listings/pools">
      <div class="ind-filter">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Pools</p>
      </div>
      </a>
      <a href="/listings/arctic">
      <div class="ind-filter">
          <div><i class="fa-solid fa-snowflake"></i></div>
          <p>Arctic</p>
      </div>
      </a>
      <a href="/listings/farm">
      <div class="ind-filter">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farm</p>
      </div>
      </a>
      <a href="/listings/beach">
      <div class="ind-filter">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>Beach</p>
      </div>
      </a>
      <a href="/listings/lakes">
      <div class="ind-filter">
          <div><i class="fa-solid fa-water"></i></div>
          <p>Lakes</p>
      </div>
      </a>
      <a href="/listings/hiking">
      <div class="ind-filter">
          <div><i class="fa-solid fa-person-hiking"></i></div>
          <p>Hiking</p>
      </div>
      </a>
      <div class="tog-tax ms-auto">
          <div class="form-check form-switch form-check-reverse ">
            <input class="form-check-input check-tax" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
            <label style="opacity: 0.9; font-size: 0.95rem;" class="form-check-label" for="flexSwitchCheckDefault">Checked total after taxes</label>
          </div>
      </div>
    </div>


    <!-- cards -->
    <div class="row card-row">
        <%for(let listing of listings) {%>
            <div class="card listing-card mb-3 ms-4  " style="width: 19rem;">
            <a class="card-ind text-decoration-none" href="/listings/<%=listing._id%>">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="...">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <h6 class="card-title"><%=listing.title%></h6>
              <p style="font-weight: 450;"> &#x20B9; <%=listing.price.toLocaleString("en-IN")%>/night  <i class="tax-info"> &nbsp;&nbsp;+18% GST</i></p>
            </div>
        </a>
          </div>
          <%}%>
    </div>
           
    <script>
        let taxSwitch = document.querySelector(".check-tax");
        taxSwitch.addEventListener("click", ()=>{
          let taxInfo = document.getElementsByClassName("tax-info");
          console.log(taxInfo);
          for(info of taxInfo){
            console.log(info.style.display);
            if(info.style.visibility != "visible"){
                info.style.visibility ="visible";
            }
            else{
                info.style.visibility ="hidden";
            }
          }
        })
    </script>

</body>
