<% layout("/layouts/boilerplate") %>

<style>
    .error-img{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
</style>

<%if(listings.length==0){%>
    <div class="error-img">
    <img  style="height: 13rem; width: 28rem;" src="https://images.unsplash.com/photo-1612342222843-0fc41f1720e1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="error_404">
    </div> 
    <div class="alert alert-danger show mt-5" role="alert">
            <h2>OOPS!</h2>
            <P>This ocuur either you entered invalid country's name or no places found from this country. </P>
        </div>
    <%}%>
    <div class="row card-row">
        <%for(let listing of listings) {%>
            <div class="card listing-card mb-3 ms-4  " style="width: 19rem;">
            <a class="card-ind text-decoration-none" href="/listings/<%=listing._id%>">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="..">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <h6 class="card-title"><%=listing.title%></h6>
              <p style="font-weight: 450;"> &#x20B9; <%=listing.price.toLocaleString("en-IN")%>/night  <i class="tax-info"> &nbsp;&nbsp;+18% GST</i></p>
            </div>
        </a>
          </div>
          <%}%>
    </div>
